html,
body {
  height: 100%;
  margin: 0;
}
#demo {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;

  /* background-color: rgb(223, 195, 37); */
}

.flex-box {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}

.flex-gui {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  /* margin: 0; */
}
.flex-term {
  height: 280px;
  margin: 0;
  background-color: black;
}
.flex-map {
  flex: 1 1 auto;
}
